/.quarto/
/_output/

# OS Files
.DS_Store
Thumbs.db

# Environment (Holds secrest)
*.env
*.egg-info/

# Data sources (too large for git)
**/*.csv
**/*.xls
**/*.xlsx

# VS code settings
.vscode/
*.vdoc.*

# Log files
*.log

# Markdown file stuff
*_files/
*.html
*.pdf

# Specific folders
shared_data/

# Images


# py caches
__pycache__/
*.pyc
*.quarto_ipynb